@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 3, 7, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-tap-highlight-color: transparent;
}

/* Prevent overscroll on mobile */
html,
body {
  overscroll-behavior: none;
}
